RewriteEngine On

RewriteCond %{HTTP_HOST} !^blog.i-wars.net$ [NC]
RewriteRule ^(.*)$ http://blog.i-wars.net/$1 [L,R=301]

RewriteCond %{DOCUMENT_ROOT}/cache/index.html -f
RewriteRule ^/$ /cache/index.html [PT]

RewriteCond %{DOCUMENT_ROOT}/cache/%{REQUEST_FILENAME} -f
RewriteRule ^/(.*)$ /cache/$1 [PT]

RewriteCond %{DOCUMENT_ROOT}/cache/%{REQUEST_FILENAME}.html -f
RewriteRule ^/(.*)$ /cache/$1.html [PT]
