.masthead {
  text-align: center;
}

.masthead h1 {
  font-size: 60px;
  font-weight: bolder;
}

#logo h1, p#title {
  font-size: 30px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

a {
  transition: 1s;
}

a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 1px #ff424f;
}

h1 a:hover {
  text-shadow: 0px 0px 3px #ff424f;
}

.comments span {
  top: 3px;
}

blockquote {
  font-style: italic;
}

p.subtitle {
  font-weight: 300;
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 27px;
  text-rendering: optimizelegibility;
}

#logo {
  margin-top: 20px;
  padding-top: 290px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

#page {
  margin-bottom: 40px;
}

.navbar-inner {
  border-radius: 0;
}

#sidebar {
  font-size: 90%;
  margin-top: 24px;
}

img.centered, img.alignleft, img.alignright, img.thumb {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    line-height: 1;
    padding: 4px;
}

.navbar-inverse .navbar-inner {
        background-image: url("/images/theme/header-menu.png");

}

.navbar .nav > li {
  border-left: 1px solid #111111;
  border-right: 1px solid #444444;
}

.navbar .nav > li > a {
        color: #eee;
        padding: 8px 10px;
}

.credits {
  color: #b3b3b3;
}

.article img, .article iframe {
  max-width: 100%;
  margin: 10px 0;
}

.hentry {
  position: relative;
}

.hentry h2 {
  font-size: 40px;
}

.hentry h2, .article h1 {
  font-weight: lighter;
  letter-spacing: 2px;
  border: none;
  margin-bottom: 10px;
}

.hentry .e-content, .article {
  line-height: 26px;
}

.hentry aside {
  color: #dddddd;
  position: absolute;
  top: 69px;
  left: -80px;
  width: 70px;
  margin-right: 10px;
  text-align: right;
}

.hentry aside .date {
  line-height: 19px;
}

.hentry aside .date .day_month {
  font-size: 28px;
  font-weight: lighter;
}

.hentry aside .date .year {
  font-size: 31px;
  font-weight: bold;
}

.hentry aside .comments {
  text-align: center;
}

.hentry aside .comments a {
  color: #dddddd;
}

.hentry aside .comments a:hover {
  color: #ff424f;
}

.article-separator {
  width: 150px;
  margin: 50px auto;
  border-top: 6px solid #eeeeee;
  display: block;
}

.meta {
  color: #cccccc;
}

pre, div.CodeRay {
  font-size: 14px;
  border: none;
  border-radius: 4px;
}

code {
  color: inherit;
  background-color: #f5f5f5;
}
